<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Fibonacci: Loop Method </h3>

In [1]:
def fibonacci_1(length):
     
    first = 0
    second = 1
    
    print(first, second, end=" ")

    length -= 2
        
    while length > 0:
        
        print(first + second, end=" ")
        #Updating the first and second variables for finding the next number. 
        temp = second
        second = first + second
        first = temp
             
        length -= 1
try:        
    x= 6 #int(input('Enter the length of the fibonacci series you would want to print: \n'))   
    print("Fibonacci Series - ")
    fibonacci_1(x)

except:
    print('Please Enter numeric value')

Fibonacci Series -
0 1 1 2 3 5

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Fibonacci: Recursive Method </h3>

In [2]:
def fibonacci_2(first, second, length):

    if(length == 0):
        return
    print(first + second, end=" ")

    fibonacci_2(second, first+second, length-1)

x= 8 #int(input('Enter the length of the fibonacci series you would want to print: \n'))        
print(0,1,end=" ")
fibonacci_2(0,1,x-2)

0 1 1 2 3 5 8 13

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Given a string, write a function “recurring char” to find the strings first recurring character. Return “None” if there is no recurring character. </h3>

In [3]:
str1 = 'shafi shaik' #input('enter the string name: \n')
# input = 'shafi shaik'
# output = s

def dup_str(s1):
    uniq=[]
    for j,i in enumerate(s1):        
        if i in uniq:
            return (f"{i} is the first character which is duplicated at {j+1}th Position")
            
        uniq.append(i)
    return (f"{str1} does not have any duplicate character")
    
                
dup_str(str1)

's is the first character which is duplicated at 7th Position'

In [4]:
def first_repeating(s):
    d = {}
    for i, c in enumerate(s):
        if c in d:
            print("Repeating char:", c)
            return d[c]
        else:
            d[c] = i
            
    return "No repeating characters"

first_repeating('sfsasdsdsss')

Repeating char: s

0

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Addition of 2 binary values in string format </h3>

In [5]:

#e.g 1              #e.g 2
#   101011011            #     110
#   000011000            #    1010
#   ---------            #  ---------
#   101110011                10000
#   ---------            #  ---------


a= '110'   #input('enter the binary value for var a :')
b= '1010'  #input('enter the binary value for var b :')
max_length =  max(len(a),len(b))
a=a.zfill(max_length)
b=b.zfill(max_length)


def binary_sum(a,b,max_length):
    res=""
    carry='0'
    for i in range(max_length-1,-1,-1): 
        if int(a[i])+int(b[i])+int(carry)==0:
            res=res+'0'
            carry='0'

        elif int(a[i])+int(b[i])+int(carry)==1:
            res=res+'1'
            carry='0'
        elif int(a[i])+int(b[i])+int(carry)==2:
            res=res+'0'
            carry='1'
        else:
            res=res+'1'
            carry='1'
    return carry+res[::-1]

binary_sum(a,b,max_length)

'10000'

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Leap Year or Not </h3>

Leap Year :<br> 1) It should be divisible by 4 <br>  2) If it divisible by 4 , then it should be divisible by both  100 & 400

In [6]:
year=24 #int(input('Enter the year to check for Leap Year:'))

def leapCheck(year):
    if year%4!=0 :
        print (f"{year} is Not a Leap Year")
    else:
        if year%100!=0 or year%400==0:
            print (f"{year} is a Leap Year")
        else:
            print (f"{year} is Not a Leap Year")
        
leapCheck(24)
leapCheck(1900)

24 is a Leap Year
1900 is Not a Leap Year

In [7]:
year=1900 #int(input('Enter the year to check for Leap Year:'))

def leapCheck(year):
    if year%4!=0 :
        print (f"{year} is Not a Leap Year")
    else:
        if year%100==0 and year%400!=0:
            print (f"{year} is Not a Leap Year")
        else:
            print (f"{year} is  Leap Year")
leapCheck(24)
leapCheck(1900)

24 is  Leap Year
1900 is Not a Leap Year

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Largest and Smallest among 3 values </h3>

In [8]:
a1,a2,a3=1,3,2

def largest(a,b,c):
    if (a>=b) & (a>=c):
        print (f"{a} is the largest  among {a,b,c}")
    elif (b>=a) & (b>=c):
        print (f"{b} is the largest among {a,b,c}")
    elif (c>=b) & (c>=a):
        print (f"{c} is the largest among {a,b,c}")
    else:
        print('incorrect input', a,b,c)
        
largest(a1,a2,a3)

3 is the largest among (1, 3, 2)

In [78]:
a1,a2,a3=4,2,2

def largest(a,b,c):
    if not ((a>=b) & (a>=c)):
        print (f"{a} is the smallest  among {a,b,c}")
    elif not((b>=a) & (b>=c)):
        print (f"{b} is the smallest among {a,b,c}")
    elif not((c>=b) & (c>=a)):
        print (f"{c} is the smallest among {a,b,c}")
    else:
        print('incorrect input', a,b,c)
        
largest(a1,a2,a3)

2 is the smallest among (4, 2, 2)

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> ArmStrong Number </h3>

In [62]:
# 153       #1^3 =1, 5^3 = 125, 3^3 = 27 

def armCheck(x):
    result=0
    n=x
    while x>0:    
        result=result+((x%10)**3)
        x=x//10
    if result == n:
        print('{0}is Armstrong Number'.format(n))
    else:
        print(f'{n} is Not a Armstrong Number')
   
armCheck(153)
armCheck(133)
armCheck(371)

153is Armstrong Number
133 is Not a Armstrong Number
371is Armstrong Number

<h3 style="text-align:center; font-weight:bold;color:#F87C16">  Remove Special Characters From a String </h3>

In [87]:
ignore_characters = ", .@!#$%^&*()'-?"
string=" shafi book. wasn't & this @ that #$des"


def Str_clean(str,ign_chars=ignore_characters):
    final_string =""
    for i in string:
        if i not in ign_chars:
            final_string =final_string+i
    return final_string

Str_clean(string)

'shafibookwasntthisthatdes'

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Half Pyramid of * </h3>

In [105]:
n=5

for rows in range(n):
    for star in range(rows+1):
        print('*',end='')
    print()

*
**
***
****
*****

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Full Pyramid of * </h3>

In [106]:
n=5

for row in range(n):
    for space in range(n-row+1):
        print(' ',end='')
    for star in range(row+1):
        print('*',end='')
    for star in range(row):
        print('*',end='')
    print()

      *
     ***
    *****
   *******
  *********

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Multiplication Table </h3>

In [112]:
n=17

for i in range(1,16):
    print(f"{n} * {i} = {n*i}")

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
17 * 11 = 187
17 * 12 = 204
17 * 13 = 221
17 * 14 = 238
17 * 15 = 255

<h3 style="text-align:center; font-weight:bold;color:#F87C16"> Prime Number </h3>