In [1]:
import json
import pandas as pd

In [2]:
my_str= '''{
       "Name":{"first":"shafi", "last":"shaik"},
        "age":100,
        "Interests":{"physical": ["cricket","TT"],"digital":["GTA-5","Youtube"]},                   
         "Job": "Data Engineer"
           }
           '''

print(type(my_str))

<class 'str'>

In [3]:
my_json=json.loads(my_str)
type(my_json)

dict

In [4]:
first_name= my_json['Name']['first']
last_name= my_json['Name']['last']
age= my_json['age']
physical_interest= my_json['Interests']['physical']
Job= my_json['Job']

print(f"First Name={first_name}\nLast Name={last_name} \nAge={age} \nInterests = {physical_interest[0]},{physical_interest[1]}")

First Name=shafi
Last Name=shaik
Age=100
Interests = cricket,TT

In [5]:
with open('S:/GitHub/data/us_states.json') as f:
    data=json.load(f)

In [6]:
# us_df= pd.DataFrame(columns=['State','State_Code','Area_Code'])
# df=pd.DataFrame(columns=['State_Code','area_code'])

In [7]:
# for i in range(len(data['states'])):
#         us_df.loc[i]=data['states'][i]['name'],data['states'][i]['abbreviation'],data['states'][i]['area_codes']
    
# us_df.shape

In [8]:
us_df=pd.json_normalize(data['states'])
us_df.shape

(50, 3)

In [9]:
finaldf = us_df.explode('area_codes').reset_index(drop=True)

finaldf.head()

      name abbreviation area_codes
0  Alabama           AL        205
1  Alabama           AL        251
2  Alabama           AL        256
3  Alabama           AL        334
4  Alabama           AL        938

In [10]:
finaldf.to_csv('S:/GitHub/data/us_states.csv',index=False)