In [1]:
import pandas as pd
import numpy as np

# <center> 1. Series </center>

**a. Series from List:**

In [2]:
### Series from list
ages = pd.Series([22, 35, 45], name="Age") 
ages

0    22
1    35
2    45
Name: Age, dtype: int64

**b. Series from Dictionary:**

In [3]:
#Series from dict 
d = {"b": 1, "a": 0, "c": 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

**c. Series from Scalar Value:**

In [4]:
#from scalar :If data is a scalar value, an index must be provided. The value will be repeated to match the length of index.

pd.Series(5.0, index=["a", "b", "c", "d", "e"])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

**d. Series from Numpy Array (ndarray):**

In [5]:
# from ndarray(numpy array): 

arr = np.array([1,3,4,5,np.nan,3])
pd.Series(arr,index=['s1','s2','s3','s4','s5','s6'])

s1    1.0
s2    3.0
s3    4.0
s4    5.0
s5    NaN
s6    3.0
dtype: float64

> **Some basic calculations on series**

In [6]:
ages.max(), ages.min(),ages.sum(),ages.mean(),ages.median(),ages.count()

(45, 22, 102, 34.0, 35.0, 3)

# <center> 2. DataFrame </center>

**a. DataFrame from Tuple/List:**

In [7]:
#DF from dict of tuples:
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

#        a              b      
#        b    a    c    a     b
# A B  1.0  4.0  5.0  8.0  10.0
#   C  2.0  3.0  6.0  7.0   NaN
#   D  NaN  NaN  NaN  NaN   9.0

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

**b. DataFrame from Dict:**

In [8]:
# DataFrame from dicts or series
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "d"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}


df = pd.DataFrame(d)

df

   one  two
a  1.0  1.0
b  2.0  2.0
c  NaN  3.0
d  3.0  4.0

**c. DataFrame from Numpy Array (ndarray):**

In [9]:
#DataFrame from ND-Arrays:
arr1= np.array([1.0, 2.0, 3.0, 4.0])
arr2= np.array([4.0, 3.0, 2.0, 1.0])

df1 =pd.DataFrame(data= (arr1,arr2))
df1

#      0    1     2    3
# 0   1.0  2.0  3.0  4.0
# 1   4.0  3.0  2.0  1.0

dict1= {"one": arr1,"two":arr2}
df2 = pd.DataFrame(dict1)
df2
#    one  two
# 0  1.0  4.0
# 1  2.0  3.0
# 2  3.0  2.0
# 3  4.0  1.0


#changing row labels
df2.index=(["a", "b", "c", "d"])
#    one  two
# a  1.0  4.0
# b  2.0  3.0
# c  3.0  2.0
# d  4.0  1.0

#changing column labels
df2.columns=(["col1", "col2"])
#    col1  col2
# a  1.0  4.0
# b  2.0  3.0
# c  3.0  2.0
# d  4.0  1.0

**d. DataFrame From a _DICT of Lists_:**

In [10]:
df = pd.DataFrame(
    {
        "Name": ["Braund, Mr. Owen Harris","Allen, Mr. William Henry","Bonnell, Miss. Elizabeth",],
        "Age": [22, 35,None],               #must have equal no.of values in all columns
        "Sex": ["male", "male", "female"],
    }
)

df

                       Name   Age     Sex
0   Braund, Mr. Owen Harris  22.0    male
1  Allen, Mr. William Henry  35.0    male
2  Bonnell, Miss. Elizabeth   NaN  female

> *Written by Shafi*
  > [Refer Documentation](https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html)